<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Crear
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


<ion-grid>
  <ion-row>
    <ion-col>
    	
		<ion-list>
		      <ion-item>
		        <ion-label>Nombre</ion-label>
		        <ion-select [(ngModel)]="nombres.nombre" interface="popover">
			    	<ion-option *ngFor="let nombre of nombres" value="{{nombre.nombre}}">
			    	{{nombre.nombre}}
			    </ion-option>
			    	
				</ion-select>
		      </ion-item>
		 </ion-list>



    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>

		<ion-list>
		      <ion-item>
		        <ion-label>Apellido</ion-label>
		        <ion-select [(ngModel)]="apellidos.apellido" interface="popover">
			    	<ion-option *ngFor="let apellido of apellidos" value="{{apellido.apellido}}">{{apellido.apellido}}
			    	</ion-option>
			    	
				</ion-select>
		      </ion-item>
		 </ion-list>


    </ion-col>
  </ion-row>


<ion-row>
    <ion-col>
		<ion-list>
		      <ion-item>
		        <ion-label>Profesion</ion-label>
		        <ion-select [(ngModel)]="profesiones.profesion" interface="popover">
				    	<ion-option *ngFor="let profesion of profesiones" value="{{profesion.profesion}}">{{profesion.profesion}}
				   	</ion-option>
			    </ion-select>
		      </ion-item>
		 </ion-list>
    </ion-col>
  </ion-row>



</ion-grid>









	<ion-input type="number" placeholder="Agrega el Celular de la Persona" [(ngModel)]="celular"  
         (keyup.enter)="addcelular($event.target.value)">
    
	</ion-input> 
	<br><br><br>

   <button ion-button color="primary" full (click)="irAListaPage(nuevoProspecto)" >Agregar a la Lista</button>

    

</ion-content>
